div {
	height: 100px;
	width: 100px;
	margin-top: 100px;
	margin-left: 100px;
	position: absolute;
	animation: mymove 5s linear 1s infinite alternate; 	
}


@keyframes mymove {
	0%{left: 0;top:0;background-color: grey}
	25%{left: 200px;top:0;background-color: green}
	50%{left: 200px;top:200px;background-color: blue}
	75%{left: 0;top:200px;background-color: yellow}
	100%{left: 0;top:0;background-color: white}
}