div {
	height: 100px;
	width: 100px;
	background-color: blue;
	animation-name: box;
	animation-duration: 4s; 
}

@keyframes box {
	from {
		background-color: blue;
	}
	to {
		background-color: yellow;
	}
}
