div {
	height: 100px;
	width: 100px;
	margin-bottom: 5px;
	position: relative;
	background-color: red;
	animation-delay: 2s;
	animation-name: mymove;
	animation-duration: 4s;
	animation-fill-mode: backwards;
}


@keyframes mymove {
	from {
		left: 0px;background-color: blue;
	}
	to {
		left: 300px;background-color: yellow;
	}
}